.dueDate {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
  }
  
  .date {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #16171D;
  
  }
  